/* Will be compiled down to a single stylesheet with your sass files */
div.container {
    width: 90%;
}

.shopping-list-item {
    background-color: lightblue;
    padding: 8px;
    font-size: 18px;
    list-style: none;
}

.shopping-list-item.isSelected{
    background-color: rgba(0, 133, 255, 0.38);
}

.shopping-list-item.isBeingPurchased {
    background-color: lightgray;
}

.shopping-list-item.error {
    background-color: red;
    color: white;
}
.shopping-list-item.isPurchased {
    background-color: lightgreen;
}
.shopping-list-item .purchase-button {
    display: none;
}
.shopping-list-item.isSelected .purchase-button {
    display: block;
}
.shopping-list-item .comments {
    font-size: 14px;
}
