/* Will be compiled down to a single stylesheet with your sass files */
div.container {
    width: 90%;
}

.food-list-item {
    background-color: lightblue;
    padding: 8px;
    font-size: 18px;
    list-style: none;
    cursor: pointer;
}

.food-list-item.isSelected{
    background-color: rgba(0, 133, 255, 0.38);
}

.food-list-item.isBeingPurchased {
    background-color: lightgray;
    cursor: default;
}

.food-list-item.error {
    background-color: red;
    color: white;
}
.food-list-item.inBasket {
    background-color: lightgreen;
    cursor: default;
}
.food-list-item .btn {
    display: none;
}
.food-list-item.isSelected .btn {
    display: block;
}
.food-list-item .comments {
    font-size: 14px;
}

.basketList {
    display: none;
}
.basketList.show {
    display: block;
}

.items-added .adding {
    color: #999;
}

.items-added .added {
    color: #333;
}
