<div class="hero-unit">
    <h1>cubdi</h1>
</div>
<div>
    <h3>Today, you're having...</h3>
        <ul ng-repeat="meal in todaysMeals">
            <li>{{meal}}</li>
        </ul>
    <div>
        <h3>Don't forget...</h3>
        <ul ng-repeat="reminder in reminders">
            <li>{{reminder.description}}</li>
        </ul>
    </div>
</div>
<ul class='menu unstyled'>
    <li><a href='#/menus'>plan menus</a></li>
    <li><a href='#/shopping'>go shopping</a></li>
    <li><a href='#/cupboard'>manage cupboard</a></li>
</ul>

