<h3>you need to buy {{numberOfItemsToPurchase()}} thing(s)</h3>
<ul ng-repeat="item in requiredItems()">
    <li ng-click="placeInTrolley(item)" class="shopping-list-item isPurchased-{{item.isPurchased}}">{{item.description}}</li>
</ul>

<h3 ng-show="trolleyHasItems()">these things are in your trolley...</h3>
<ul ng-repeat="item in itemsInTrolley()">
    <li class="shopping-list-item isPurchased-{{item.isPurchased}}"><input type="checkbox" ng-model="item.isPurchased">{{item.description}}</li>
</ul>
