<h3>{{shoppingListHeading()}}</h3>
<ul ng-repeat="item in itemsRequired">
    <li ng-click="select(item)" class="food-list-item {{item.state}} {{isCurrentlySelected(item)}}">
    <span>{{item.description}}</span>
    <span>{{item.comments}}</span>
    <button class='btn' ng-click="addItemToBasket(item)">buy now</button>
    <button class='btn' ng-click="itemNoLongerNeeded(item)">item no longer needed</button>
    </li>
</ul>

<div class="basketList {{showBasketList()}}">
<h3>{{basketListHeading()}}</h3>
<button class="btn" ng-click="checkoutAllItems()">checkout all items</button>
<ul ng-repeat="item in itemsInBasket">
    <li ng-click="select(item)" class="food-list-item {{item.state}} {{isCurrentlySelected(item)}}">
    <span>{{item.description}}</span>
    <div class="comments">{{item.comments}}</div>
    <button class="btn" ng-click="removeItemFromBasket(item)">remove</button>
    </li>
</ul>
